*{
    margin: 0;
    padding: 0;
    font-family: TTNormsProCond-Blk, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
.container{
    height: 1280px;
    width: 100vw;
    background-color: #ffffff;

}
.text-container{
    font-size: 1.5rem;
    margin: 36px;
    align-self:center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.form-container{
    height: 100%;
    width: 800px;
    margin: 0 auto;
    border: 2px solid black;
    font-size: 1.5rem;
    padding: 36px;
    border-radius: 16px;
}
input{
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Rounded corners */
  background-color: #f9f9f9;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.fname-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}


.parent {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 32px;
}
    


.div3 {
    grid-column: span 2 / span 2;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row-start: 4;
}
#email{
    width: 100%;
}
#num{
    width: 100%;
}
#psswd{
    width: 100%;
}
.privacy{
    margin-top: 36px;
}
.signUp{
    margin-top: 36px;
    display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(217, 20, 0);
  /* padding: 16px; */
  border-radius: 50px;
  width: 100%;
  height: 100px;
  color: white;
  font-weight: 700;
  
}
.or{
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr{
    color:gray;
    width: 100%;
}
#google{
    background-color: rgb(66, 133, 246);
  }
  #facebook{
    background-color: rgb(59, 89, 152);
  }
  #apple{
    background-color: #000000;
  }
 .devicon-plain--google {
    margin-right: 5px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23000' d='M44.59 4.21a63.28 63.28 0 0 0 4.33 120.9a67.6 67.6 0 0 0 32.36.35a57.13 57.13 0 0 0 25.9-13.46a57.44 57.44 0 0 0 16-26.26a74.3 74.3 0 0 0 1.61-33.58H65.27v24.69h34.47a29.72 29.72 0 0 1-12.66 19.52a36.2 36.2 0 0 1-13.93 5.5a41.3 41.3 0 0 1-15.1 0A37.2 37.2 0 0 1 44 95.74a39.3 39.3 0 0 1-14.5-19.42a38.3 38.3 0 0 1 0-24.63a39.25 39.25 0 0 1 9.18-14.91A37.17 37.17 0 0 1 76.13 27a34.3 34.3 0 0 1 13.64 8q5.83-5.8 11.64-11.63c2-2.09 4.18-4.08 6.15-6.22A61.2 61.2 0 0 0 87.2 4.59a64 64 0 0 0-42.61-.38'/%3E%3C/svg%3E");
}
.logos--facebook {
    margin-right: 5px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%231877f2' d='M256 128C256 57.308 198.692 0 128 0S0 57.308 0 128c0 63.888 46.808 116.843 108 126.445V165H75.5v-37H108V99.8c0-32.08 19.11-49.8 48.348-49.8C170.352 50 185 52.5 185 52.5V84h-16.14C152.959 84 148 93.867 148 103.99V128h35.5l-5.675 37H148v89.445c61.192-9.602 108-62.556 108-126.445'/%3E%3Cpath fill='%23fff' d='m177.825 165l5.675-37H148v-24.01C148 93.866 152.959 84 168.86 84H185V52.5S170.352 50 156.347 50C127.11 50 108 67.72 108 99.8V128H75.5v37H108v89.445A129 129 0 0 0 128 256a129 129 0 0 0 20-1.555V165z'/%3E%3C/svg%3E");
}
.ri--apple-fill {
  margin-right: 5px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M11.673 7.222c-.876 0-2.232-.996-3.66-.96c-1.884.024-3.612 1.092-4.584 2.784c-1.956 3.396-.504 8.412 1.404 11.172c.936 1.344 2.04 2.856 3.504 2.808c1.404-.06 1.932-.912 3.636-.912c1.692 0 2.172.912 3.66.876c1.512-.024 2.472-1.368 3.396-2.724c1.068-1.56 1.512-3.072 1.536-3.156c-.036-.012-2.94-1.128-2.976-4.488c-.024-2.808 2.292-4.152 2.4-4.212c-1.32-1.932-3.348-2.148-4.056-2.196c-1.848-.144-3.396 1.008-4.26 1.008m3.12-2.832c.78-.936 1.296-2.244 1.152-3.54c-1.116.048-2.46.744-3.264 1.68c-.72.828-1.344 2.16-1.176 3.432c1.236.096 2.508-.636 3.288-1.572'/%3E%3C/svg%3E");
}